* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
}

#comment-form {
    margin-bottom: 30px;
}

#comment-form .field {
    margin-bottom: 20px;
}

#comment-form .field label {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
}

#comment-form input, #comment-form textarea {
    width: 300px;
}

#comment-form textarea {
    height: 100px;
}

#comment-list .comment {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #eee;
}

#comment-list .comment .name {
    font-weight: bold;
}